/*MENU SELECTOR*/

nav ul li:nth-child(3) {
    border-bottom: 3px solid #5BE1FF;
    font-weight: 700;

} 

@media (max-width: 961px) {

    nav ul {
        padding: 0;
    }
    nav ul li:nth-child(3) {
        background-color: #5BE1FF;
        width: 100%;
        text-align: center;
        align-items: center;
        color: #000;
    }
}


/*/////////////////////////////////////////////////
////////////COMPONENTE heading_principal //////////
////////////////////////////////////////////////*/

.heading_principal{
    background-image: url(../recursos/academico-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 38%;
    color: #F5F5F5;
}

.heading_principal article{
    background-color: rgba(91, 225, 255, 0.8);
    backdrop-filter: blur(2px);
    padding: 2rem 8rem 2rem 8rem; 
}

.heading_principal article h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1%;
}

.heading_principal p{
font-size: 130%;
font-weight: 400;
}

@media (max-width: 961px){

    /*heading principal*/
        
   

    .heading_principal article h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1%;
    }
    
    .heading_principal p{
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 3%;
    }

    .heading_principal article{
        padding: 1rem 1rem 1rem 1rem; 
    }
}

/*/////////////////////////////////////////////////
////////////COMPONENTE carousel_principal //////////
////////////////////////////////////////////////*/

.carousel_text-container p{
    margin:2% 0 0 0; 
}

.container-carousel-principal
{
    margin-top:5%;
    margin-bottom: 5%;
}

/*/////////////////////////////////////////////////
//////////// main_seccion-grilla //////////
////////////////////////////////////////////////*/

.card_negro{
    background-color: black;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    color: #F5F5F5;
}

.card_negro h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10%;
    margin-bottom: 3%;
}

.card_negro h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.programa img{
    width: 50%;
}

.container-programa {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
    margin-bottom: 5%;
    padding-right: 10%;
}

.container-programa-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 10%;
    margin-bottom: 5%;
    padding-left: 10%;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 961px){

    .card_negro h2{
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    
    .programa h3{
        text-transform: uppercase;
        font-size: 1rem;
    }
    
    .programa img{
        width: 100%;
        margin-bottom: 5%;
    }
    
    .container-programa {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .container-programa-reverse{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .container-text{
        display: flex;
        flex-direction: column;
        gap: 50%;
        justify-content: space-between;
    }

    .container-text p{
        font-size: 80%; 
        margin-bottom: 3%;
    }

    .boton-primario{
       width: 100%;
       justify-content: center;
       align-items: center;
    }   

}

/*/////////////////////////////////////////////////
////////////COMPONENTE main_carousel-celeste INICIO//////////
////////////////////////////////////////////////*/




.main_competencias-container {
    background-image: url(../recursos/academico-investigaciones.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 47rem;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5rem;
}

@media (max-width: 961px) {

     .competencias_y_calendario > h3 {
        display: none;
        position: relative;
    }

    .competencias_y_calendario {
        display: flex;
        flex-direction: column;
    } 

    .container-celeste .boton-primario {
        width: 100%;
    }

    .container-celeste {
        padding: 1rem 1rem 1rem 1rem; 
    }
}

/*/////////////////////////////////////////////////
////////////COMPONENTE main_card-magenta-info INICIO//////////
////////////////////////////////////////////////*/

.main_card-magenta-info {
    margin-bottom: -4.5rem;
    z-index: 1;
    max-width: 600px;
}

.contacto {
    margin-bottom: 8rem;
    margin-top: 6rem;
}

@media (max-width: 961px) {

    .main_card-magenta-info {
        margin-bottom: -1rem;
        z-index: 1;
    }

}

