* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --filterwhite: brightness(0) invert(1);
    --filterblack: brightness(0);
}


/*RESET BUTTON*/
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
  
}


.botones-carousel {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

/*/////////////////////////////////////////////////
////////////COMPONENTE main_carousel-celeste INICIO//////////
////////////////////////////////////////////////*/


.competencias_y_calendario {
    color: #fff;
    margin: 0 0 0 0;
    z-index: -1;
    padding: 7rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.competencias_y_calendario .botones-carousel {
    filter: var(--filterwhite);
    justify-content: space-between;
    margin: 0 1rem 10rem 1rem;
}

.competencias_y_calendario > h2 {
    margin: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.main_competencias-container {
    background-image: url(../recursos/juegos-bonaerenses-carousel.png);
    background-size: cover;
    display: flex;
    height: 47rem;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5rem;
}

.container-celeste {
    background-color: rgba(91, 225, 255, 0.8);
    padding: 1rem 2rem; 
}

.competencias_y_calendario > h3 {
    margin: 1rem;
    font-size: 2rem;
    text-transform: uppercase;

}

.container-celeste h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.container-celeste > p {
    font-size: 1rem;
    margin: 2rem 0;
}

.container-celeste .boton-primario {
    filter: var(--filterwhite);
}

.container-celeste_textos {
    width: min-content;
}


@media (max-width: 961px) {
     .competencias_y_calendario > h3 {
        display: none;
        position: relative;
    }

    .competencias_y_calendario {
        display: flex;
        flex-direction: column;
    } 

    .container-celeste .boton-primario {
        width: 100%;
    }
}

/*/////////////////////////////////////////////////
////////////COMPONENTE main_galeria//////////
////////////////////////////////////////////////*/

.main_galeria
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width:100%;
    overflow: hidden;
}

.heading-galeria{
width: 100%;
display: flex;
flex-direction: row;
padding-left: 10%;
padding-right: 10%;
justify-content: space-between;
align-items: baseline;
margin-bottom: 2%;
}

.heading-galeria h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.heading-galeria a{
    font-size: 0.875rem;
    color: black;
}

.imagenes_galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.imagenes_galeria img {
   width: 100%;
   object-fit: cover;
}

.botones-carousel-galeria {
    display: flex;
    justify-content: center;
    gap: 90%;
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
    filter: var(--filterwhite);
}

#siguiente, #anterior {
    height: 1.5rem;
}

@media (max-width: 961px) {
    
    .heading-galeria h2{
        text-transform: uppercase;
        font-size: 100%;
        font-weight: 700;
        color: black;
    }

    .imagenes_galeria{
        display: flex;
        flex-direction: column;
    }

    .imagenes_galeria img{
        width: 100%;
    }


    .desk{
        display: none;
    }

    .botones-carousel-galeria {
        left: 2rem;
        right: 2rem;
        filter: var(--filterwhite);
    }

    #siguiente, #anterior {
        height: 0.5rem;
    }
}

