


.heading_principal{
    background-image: url(../recursos/streamers-heading.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 38%;
    color: #F5F5F5;
}

.heading_principal article a {
    margin-top: 2rem;
    filter: var(--filterwhite);
}


.heading_principal article{
    background-color: rgba(91, 225, 255, 0.8);
    backdrop-filter: blur(2px);
    padding: 2rem 8rem 2rem 8rem; 
}

.heading_principal article h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1%;
}

.heading_principal p{
font-size: 130%;
font-weight: 400;
}

.main_mapas {
    background: #000;
    color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 5rem 17rem;
}

.main_mapas h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.wrapper-main {
    background-color: #000;
    margin-top: 3rem;
    padding: 5rem 0 8rem;
}

.button-streamers button {
    filter: var(--filterwhite);
}

.streamers-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
    color: #fff;
}


.streamers-datos {
    border: 3px solid #5BE1FF;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}


.datos-container-right {
    padding-left: 1rem;
}

.container-left {
    width: 50%;
}

.container-left img {
    width: 100%;
    height: auto;
}

.container-right {
    width: 50%;
}

.container-right h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.lista-datos li {
    list-style: none;
}

.lista-datos ul li {
    list-style: disc;
}

.datos-streamer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}


.main_card-magenta-wrapper {
    margin-top: -5rem;
}

.main_galeria h2 {
    color: #FFF;
}

.main_galeria a {
    color: #fff;
}

.mapa-mobile {
    display: none;
}

.title-datos-streamer {
    text-transform: uppercase;
    color: #fff;
}

.datos-streamer-container a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 961px){

    .streamers-datos {
        flex-direction: column;
    }

    .container-left {
        width: 100%;
    }

    .container-right {
        width: 100%;

    }
    /*heading principal*/
    
    .mapa-desktop {
        display: none;
    }

   .mapa-mobile {
    display: block;
   }

    .heading_principal article h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1%;
    }
    
    .heading_principal p{
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 3%;
    }

    .heading_principal article{
        padding: 1rem 1rem 1rem 1rem; 
    }
}