footer {
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer h6 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1rem;
}

footer input[type="submit"] {

    border: 2px solid #5BE1FF;
    background: transparent;
    color: #5BE1FF;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

footer ul img {
    height: 40px;
    aspect-ratio: 1;
    list-style: none;
}

footer label {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

footer form {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


footer input[type=email] { 
    height: 100%;
    padding: .35rem 1rem;
    margin-right: .5rem;
}

footer p {
    color: #fff;
    font-size: .5rem;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 58em) {

    footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }

}