header {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 44.72%);
}


#logo-deva {
    width: 10rem;
 }
 
 .mobile-nav-toggle {
    display: none;
}

 nav {
    padding: 2rem 2rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}


.primary-navigation {
    display: flex;
    gap: .5rem;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}



nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 1rem .75rem .5rem .75rem;
}

nav ul li:nth-child(7) {
    padding-right: 0;
}


 .primary-navigation { 
    text-decoration: none;
    color: #fff;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
 }
 .primary-navigation a {
    text-decoration: none;
    color: #FFF;
 }

 @media (max-width: 58em) {
    

    nav {
        height: 72px;
        background: #000;
    }

    video {
        margin-top: 72px;
    }

    .primary-navigation {
        position:fixed;
        z-index: 1000;
        inset: 0 0 0 60%;
        background:#000;
        flex-direction: column;
        gap: 2rem;
        padding: min(20vh, 10rem) 0;
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        
    }

    .primary-navigation li {
        height: 10vh;
        align-items: center;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("recursos/hamburger-menu.svg");
        background-repeat: no-repeat;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.25rem;
        right: 1rem;
        background-position: center;

    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("recursos/close.svg");
    }


 }

 .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

nav {
    padding: 1rem;
}