@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: montserrat;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

body{
    max-width: 428px;
}

/*nav*/

nav ul li:nth-child(2) {
    border-bottom: 3px solid #5BE1FF;
    font-weight: 700;
}

@media (max-width: 58em) {

    nav ul {
        padding: 0;
    }
    nav ul li:nth-child() {
        background-color: #5BE1FF;
        width: 100%;
        text-align: center;
        align-items: center;
        color:#000;
    }
}

nav ul li:nth-child(3) {
    border-bottom: 3px solid #5BE1FF;
    font-weight: 700;
}

@media (max-width: 58em) {

    nav ul {
        padding: 0;
    }
    nav ul li:nth-child(3) {
        background-color: #5BE1FF;
        width: 100%;
        text-align: center;
        align-items: center;
        color:#000;
    }
}

/*fin nav*/

main{
    text-align: center;
}

h1{
    font-weight: 900;
    font-size: 150%;
    text-transform:uppercase;
    padding-bottom: 1%;
}

h2{
    font-weight: 700;
    font-size: 130%;
    text-transform:uppercase;
    padding-bottom: 1%;
    text-align: left;
}

h3{
    font-weight: 700;
    font-size: 130%;
    text-transform: uppercase;
}

.subtitle{
    margin-left: 5%;
}

/*banners*/

.banner_proyectos{
    display: flex;
    flex-direction: column;
    background-image:url(recursos/proyectos-header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40%;
    margin-bottom: 5%;
    text-align: left;
}

.banner_academico{
    display: flex;
    flex-direction: column;
    background-image:url(recursos/academico-header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 34%;
    margin-bottom: 5%;
    text-align: left;
}

.texto_banner{
    color: #F5F5F5;
    background: rgba(91, 225, 255, 0.8);
    backdrop-filter: blur(2px);
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.bajada_banner{
    font-weight: 300;
    font-size: 80%;
}

/*fin de banners*/

/*carrousel 1*/

.container_carousel
{
    margin-top: 10%;
}

.carousel{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.main_carousel-scroll{
    text-align: left;
    background-image: url(recursos/academico-certificados.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #F5F5F5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30%;
    padding-bottom: 2%;
    
}
.main_carousel-scroll h3{
    font-weight: 700;
    font-size: 100%;
}

.epigrafe{
    margin-bottom: 5%;
}

.main_carousel-scroll p{
    font-size: 70%;
    font-weight: 400;
}

.carousel-1{
    margin-top: 4.5%;
    display: flex;
    vertical-align: middle;
    text-transform: uppercase;
    color: #F5F5F5;
    box-sizing: border-box;
    border: 2px solid #F5F5F5;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-left: 80%;
}

.carousel-1 p{
    font-size: 50%;
    padding-top: 2%;
    padding-right: 20%;
}

.carousel-1 img {
    width: 15%;
}

/*fin de carrousel 1*/

/*carrousel 2*/ 

#box_proyectos{
    background-image:url(/recursos/proyectos-torneo-discapacitados.png);
    background-repeat: no-repeat;
    background-size: 250%;
    padding-top: 50%;
}

.text_box{
    color: #F5F5F5;
    background: rgba(91, 225, 255, 0.8);
    backdrop-filter: blur(2px);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

#text_box-proyectos{
    padding-left: 5%;
}

.text_box p{
    font-weight: 300;
    font-size: 70%;
    padding-left: 5%;
    padding-right: 5%;   
}

.text_box a{
    display: flex;
    flex-direction: row;
    height: 10%;
    vertical-align: middle;
}

.text_box a p{
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
}

/*fin de carrousel 2*/

/*black card proyectos*/
.tarjeta_negro{
    background-color: black;
    color: #F5F5F5;
    padding-left: 5% ;
    padding-right: 10%;
    padding-top: 10%;
    margin-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 10%;
}

.container_proyectos
{
    border: 2px solid #5BE1FF;
    width: 95%;
    padding: 5%;
    padding-bottom: 0%;
    margin-bottom: 5%;
    text-align: left;
}

.container_proyectos h3{
    margin-top: 5%;
    padding-bottom: 3%;
}

.container_proyectos p{
    margin-bottom: 10%;
}

.container_proyectos img{
    width: 100%;
}
.boton_mas{
    color: #F5F5F5;
    text-align: right;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.tarjeta_negro a img {
    padding-top: 3%;
    padding-bottom: 10%;
}

/*fin de black card proyectos*/

/*black card academico*/
#tarjeta_negro-academico{
    background-color: black;
    color: #F5F5F5;
    padding-top: 10%;
    margin-top: 10%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

#tarjeta_negro-academico h2{
    margin-left: 5%;
}

#box_academico{
    background-image:url(/recursos/academico-investigaciones.png);
    background-repeat: no-repeat;
    background-size: 200%;
    padding-top: 40%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.container_programa{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: left;
    margin-right: 10%;
}

.container_programa img{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.container_programa article{
    margin-left: 5%;
}

.container_programa h3{
    font-size: 100%;
}

.container_programa p{
    font-size: 70%;
    font-weight: 300;
    padding-top: 3%;
    
}

.boton_info_cian{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    color: #5BE1FF;
    box-sizing: border-box;
    border: 3px solid #5BE1FF;
    justify-content: right;
    padding-top: 2%;
    padding-left: 10%;
    margin-top: 10%;
    justify-content:center ;
    align-content: center;
}

.boton_info_cian p{
    font-size: 80%;
    line-height: 80%;
}

.boton_info_cian img{
    width: 7%;
    padding-top: 1%;
}

/*fin black card academico*/

/*main card magenta*/

.main_card-magenta{
    background-color: #FF3387;
    color: #F5F5F5;
    padding-top: 3%;
    padding-bottom: 2%;
    width: 80%;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
}

.main_card-magenta h3{
    text-transform: none;
}

.main_card-magenta p{
   font-size: 80%;
   margin-top: 5%;
}

.main_card-magenta a{
    text-transform: uppercase;
    color: #F5F5F5;
    box-sizing: border-box;
    border: 3px solid #F5F5F5;
    width: 100%;
    margin-top: 5%;
    padding-left: 2%;
    padding-bottom: 0.5%;
    display: flex;
    vertical-align: middle;   
    justify-content: center ;
    align-items: center;
}

.main_card-magenta a p{
    font-weight: 600;
    font-size: 80%;
    margin-right: 2%;
    line-height: 50%;
    padding-bottom: 4%;
}


/*fin de main card magenta*/

/* botón +Info*/

.boton_info{
    text-transform: uppercase;
    color: #F5F5F5;
    box-sizing: border-box;
    border: 3px solid #F5F5F5;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-bottom: 0.5%;
    display: flex;
    vertical-align: middle;   
    justify-content: center ;
    align-items: center;
}

.boton_info p{
    font-weight: 600;
    font-size: 80%;
    margin-right: 2%;
    line-height: 50%;
}

/*

/*galeria*/

.main_galeria-carousel h2 {
margin-left: 5%;
margin-bottom: 5%;
}

.main_galeria-carousel img{
    width: 90%;
    margin-bottom: 10%;
}

.chevrones_galeria{
    display: flex;
    flex-direction: row;
    gap: 85%;
    position: absolute;
    top: 437%;
    left: 10%;
    right: 5%;
}

.chevrones_galeria img{
    width: 5%;
}

.chevron_galeria-left{
    transform: scaleX(-1);
}



/*fin galería*/


